<h1>Editing Kullanici</h1>
</br>
<%= render 'form', kullanici: @kullanici %>
</br>
<%= link_to 'Show', @kullanici, class:"btn btn-secondary" %> 
<%= link_to 'Back', kullanicis_path, class:"btn btn-dark" %>
