</br>
<h1>Kayıt Ol</h1>
</br>
<div class="alert alert-warning" role="alert">
  Tüm Alanları Doldurunuz!
</div>
</br>

<%= render 'form', kullanici: @kullanici %>
</br>

<%= link_to 'Back', kullanicis_path, class:"btn btn-dark" %>
